<section class="phx-hero">
  <h1><%= gettext "Текущий курс валют" %></h1>
</section>

<section class="row">
  <article class="column">
    <h2>Курс доллара</h2>
    <p><%= @results.dollar_info %></p>
  </article>
  <article class="column">
    <h2>Курс евро</h2>
    <p><%= @results.euro_info %></p>
  </article>
</section>
